includes:
  # - phpstan-baseline.neon

parameters:
  level: 5
  tmpDir: build/phpstan
  reportUnmatchedIgnoredErrors: false

  paths:
    - src
    - tests
    - scripts/pathagist

  ignoreErrors:
    - '#^Unsafe usage of new static\(\).$#'
